<%-include  ./html/header -%>
<div class = 'container' >
	<div class = 'row' >
	<% Societies.forEach( function( society ){ %>
		<div class="card mt-3 ml-3" style="width: 18rem;padding:0px;">
		  <img class="img-fluid card-img"  src= <%= society.Profile_url %> alt ="Card image cap">
		  <div class="card-body">
		    <p class="card-text"><a class = 'title-small' href="/society/<%=society._id%>">Name : <%= society.Name %></a></p>
		  </div>

		</div>

	<%});%>
	</div>
</div>
<%-include  ./html/footer -%>
