
<%-include ./html/header -%>
<div class="container">
  <div class="row">    
    <div class="col-xs-12">

      <div class="card">                

        <div class="card-image"> 
          <a href="#" type="button" class="btn">
            <img src="https://farm3.staticflickr.com/2764/4350166105_be2c85cdb5_z_d.jpg" alt="user-image" />
          </a>
        </div>

        <div class="card-modal">Take a look at my Profile!</div>
        
        <div class="card-info">
          
          <div class="name">
            <p>Nunc Lorem Interdum</p> 
          </div>
          
          <div class="social-network">
            <a href="#" class="icon youtube">
              <i class="fa fa-youtube"></i>
            </a>  
            <a href="#" class="icon twitter">
              <i class="fa fa-twitter"></i>
            </a>            
            <a href="#" class="icon facebook">
              <i class="fa fa-facebook"></i>              
            </a>
          </div>
          
          <hr>
          
          <div class="content">
            <p>
              <b>Info:</b> 
              Praesent faucibus sem tortor, sed imperdiet enim interdum in. Etiam feugiat rutrum ex, quis maximus quam commodo eu. Pellentesque eget tortor convallis, vestibulum tortor in, lacinia diam.
            </p>
            <p><b>Skills:</b> Feugiat, Ipsum, Pellentesque, Maximus</p>
            <p><b>Website:</b> <a href="https://codepen.io/jaguilera">www.codepen.io</a></p>
          </div>
        </div>
      </div>    
    </div>
  </div>
</div>
<div>
	<table class="table table-striped">
		<thead>
			<th>#</th>
			<th>Month</th>
			<th>Amount</th>
			<th>Status</th>
			<th>action</th>
		</thead>
		<tbody>
		<script type="text/javascript">
			function disablebutton( btn ){
				btn.disabled = true;
			}
		</script>
		<% var currentMaintaince = 350 %>
		<%Months.forEach( function( month ){ %>
			<tr>
				<td>#</td>
				<td><%=month%></td>
				<%if( maintainance[ month.toLowerCase( ) ] ) {%>
				<% 	status = true;%> 
				<%	mnt = maintainance[ month.toLowerCase( ) ]%>
				<%}else{%>
				<%	status= false;				%>
				<%	mnt = currentMaintaince;	%>
				<%} %>
				<td><%=mnt%></td>
				
				<td><%=status%></td>
				<td><form action="/pay_maintainance" method = "post" >
				<input type="hidden" name="maintainance[room_id]"  	value = "<%=room_id%>">
				<input type="hidden" name="maintainance[month]"  	value="<%=month.toLowerCase( )%>">
				<input type="hidden" name="maintainance[amount]"  	value="<%=mnt%>">
				<input type="hidden" name="maintainance[year]"  	value="<%=2019%>">
				<%if(!status){%>
					<button class = 'btn btn-danger' id = "<%=month%>" > Pay </button>
				<%} else { %>
					<button id = "<%=month%>" class = 'btn btn-success' disabled ><span class="glyphicon glyphicon-ok">Paid</span>      </button>
				<%}%>

				</form>
				</td>
			</tr>
		<%} );%>
		</tbody>
	</table>
</div>



<%-include ./html/footer -%>